<div class="mainbox">
<div class="box">
<h3>Sign In</h3>

<form action="/admin" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Login" class="btn">

</form>
</div>
<img src="/img/signin.webp" alt="">
<div class="box">

 <h3>Register</h3> 
 <form action="/register" method="POST">

  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form> 
</div>
</div>
<img src="/img/image.png" alt="" class="image1">