<header class="header">
    <a  class=".header_logo">
        <img src="/img/blog.png" alt="" height="40x" width="40px">
    </a>
    <nav class="header-nav">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">contact</a></li>
       
        </ul>
    </nav>


</header>