
<div class="about-section">
   <div>
    <h1>About <span class="span">Me</span></h1>
    Greetings! I'm a passionate software engineer with expertise in a diverse range of technologies. My journey into the world of software engineering began with a profound fascination for problem-solving and a relentless curiosity to explore the depths of technology.
</div>
    <div>
    <h2>Expertise</h2>
    <h2>Programming <span class="span"> Languages</span></h2>
    JavaScript: I have a strong command over JavaScript, utilizing it extensively for both front-end and back-end development.
    Node.js: Leveraging the power of Node.js, I excel in building scalable and efficient server-side applications.
    Java: Proficient in Java, I've developed robust enterprise-level applications and systems.
    Python: With Python, I've delved into various domains including data analysis, machine learning, and web development.
    C: Experienced in C programming, I appreciate its efficiency and versatility in system-level programming.
    HTML, CSS: Mastering the fundamentals of web development, I create captivating and responsive user interfaces with HTML and CSS.
    Frameworks and Libraries
    Express.js: Utilizing Express.js, I craft RESTful APIs and web applications with ease, harnessing its flexibility and performance.
    Angular: Proficient in Angular, I design dynamic and interactive front-end experiences, leveraging its robust features and scalability.
    Databases
    MongoDB: I am adept at MongoDB, employing its flexibility and scalability for storing and managing data in various applications.
    Journey

    <br>
    <br>

    </div>
<div>
    <h2> My <span  class="span"> journey </span></h2> in software engineering has been an exhilarating one. From diving deep into algorithms and data structures to architecting complex systems, every challenge has been an opportunity for growth and learning. I thrive in dynamic environments, collaborating with diverse teams to deliver innovative solutions that make a difference.
</div>
<div>
    <h2>Passion</h2>
    My passion for technology extends beyond the confines of work. I am an avid learner, constantly exploring emerging trends and technologies to stay ahead of the curve. I am deeply committed to leveraging technology for social good, whether it's through open-source contributions, mentorship, or community initiatives.
</div>
<div>
<h2>Vision</h2>
    As a software engineer, my vision is to continue pushing the boundaries of innovation, creating impactful solutions that empower individuals and transform industries. I aspire to be a catalyst for positive change, driving progress through technology and human-centered design.
    
</div>

  </div>
  