<div class="contact">
<h1  id="g" >Contact form</h1>
<div class="form-group">
    <input type="text" name="" id="name" placeholder="Enter Your Name">
    <input type="email" name="" id="email" placeholder="Enter Your email">
    <textarea name="" id="message" cols="30" rows="10" placeholder="Enter your Message"></textarea>
    <button class="cbutton">Submit</button>
    
</form>

</div>